.vehicle-container{
    background-color: #f6f7f9;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 100px;
   
    
}
.cards-container2{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
    .vehicle-container{
        gap: 0px;
    }
}
@media screen and (max-width: 658px) {
    .vehicle-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards-container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}