.rent-container{
    background-color: #f6f7f9;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 40px;
}
.cards-container3{
    display: flex;
    /* padding-left: 50px; */
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar3{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 10px;
}
